#rating{
    margin: 50px 0px;
}
#rating .heading{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #151531;
    line-height: 34px;
}
#rating .text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: rgba(21, 21, 49, 0.8);
}
.allRatingCards{
    display: flex;
    flex-wrap: wrap;
}
#ratingCard{
    display: flex;
    flex-direction: column;
    width: 29%;
    margin: 14px 8px;
    background: #FFFFFF;
    box-shadow: 1px 1px 80px rgb(21 21 49 / 5%);
    border-radius: 13px;
    padding: 10px 15px
}
#ratingCard .stars{
    display: flex;
    margin: 10px 0px;
}
#ratingCard .stars svg{
    margin: 0px 1px;
    color: rgba(0, 245, 155, 1);
}
#ratingCard .name{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #151531;
}
#ratingCard .position{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #151531;
}
#ratingCard .ratingText{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #151531;
}

@media (max-width:700px) {
    #ratingCard {
        width: 45%;
    }
}
@media (max-width:600px) {
    #ratingCard {
        width: 90%;
    }
}
@media (max-width:450px) {
    #ratingCard {
        width: 90%;
    }
    #rating .heading{
        font-size: 25px;
    }
}